<%- include('./partials/headAndNav') %>

<form ckass="form" method="POST" action="/musicians/<%= edit._id%>?_method=PUT">
    <div>
        <label for="name">New Name</label>
        <input type="text" name="name" value=<%=edit.name%> id = "name">
    </div>
    <div>
        <label for="image">Enter the URL for the image</label>
        <input type="text" name="name" value=<%=edit.img%> id = "image">
    </div>
    <div>
        <label for="instrument">What instrument are they holding?</label>
        <input type="text" name="istrument" value=<%=edit.instrument%> id = "instrument">
    </div>
    <input type="submit" value="Submit new Artist">
</form>

<%- include('./partials/footer') %>