<%- include('../partials/headAndNav.ejs', {pageName: "Musician Index"}) %>
<body>
    <h1>Here is a list of my musicians</h1>
    <% for(let i = 0; i < musicians.length; i++) { %>
        <a href="/musicians/<%= musicians[i]._id %>">
            <h3>Name: <%= musicians[i].name %></h3>
            <img src=<%= musicians[i].image %> alt=<%= musicians[i].name %>>
        </a>
        <p>Instrument: <%= musicians[i].instrument %></p>
        <hr />
    <% } %>
</body>
<%- include('../partials/footer.ejs') %>