<%- include('../partials/headAndNav', { pageName: musician.name + " holding a slug"}) %>
        <h1>Name: <%= musician.name %></h1>
        <img src=<%= musician.image %> alt=<%= musician.name %>>
        <p>Instrument: <%= musician.instrument %></p>
<%- include('../partials/footer') %>